In [1]:
# Importamos librerías
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [2]:
# Abrimos y cargamos el dataset "ds_salaries.csv" en la variable "df"
df = pd.read_csv("./ds_salaries.csv")
df.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [4]:
df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  3755.000000  3.755000e+03    3755.000000   3755.000000
mean   2022.373635  1.906956e+05  137570.389880     46.271638
std       0.691448  6.716765e+05   63055.625278     48.589050
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  1.000000e+05   95000.000000      0.000000
50%    2022.000000  1.380000e+05  135000.000000      0.000000
75%    2023.000000  1.800000e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

In [5]:
df.shape

(3755, 11)

In [6]:
# Nos quedamos solo con las 1.000 primeras muestras
df = df.head(1000)

In [7]:
df.shape

(1000, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           1000 non-null   int64
 1   experience_level    1000 non-null   object
 2   employment_type     1000 non-null   object
 3   job_title           1000 non-null   object
 4   salary              1000 non-null   int64
 5   salary_currency     1000 non-null   object
 6   salary_in_usd       1000 non-null   int64
 7   employee_residence  1000 non-null   object
 8   remote_ratio        1000 non-null   int64
 9   company_location    1000 non-null   object
 10  company_size        1000 non-null   object
dtypes: int64(4), object(7)
memory usage: 86.1+ KB

In [9]:
# Eliminamos la columna "salary_in_usd"
df = df.drop('salary_in_usd', axis=1)

In [10]:
# Codificamos la variable "job_title"
df["job_code"] = df.job_title.astype("category").cat.codes

In [11]:
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size,job_code
0,2023,SE,FT,Principal Data Scientist,80000,EUR,ES,100,ES,L,49
1,2023,MI,CT,ML Engineer,30000,USD,US,100,US,S,43
2,2023,MI,CT,ML Engineer,25500,USD,US,100,US,S,43
3,2023,SE,FT,Data Scientist,175000,USD,CA,100,CA,M,33
4,2023,SE,FT,Data Scientist,120000,USD,CA,100,CA,M,33
...,...,...,...,...,...,...,...,...,...,...,...
995,2023,SE,FT,Machine Learning Engineer,204500,USD,US,0,US,M,45
996,2023,SE,FT,Machine Learning Engineer,142200,USD,US,0,US,M,45
997,2023,MI,FT,Data Scientist,40000,USD,FR,50,FR,L,33
998,2023,SE,FT,Data Science Consultant,1000000,THB,TH,50,TH,M,30
999,2023,SE,FT,Data Analyst,180180,USD,US,0,US,M,19

In [12]:
# La varibale predictorá X será la columna "job_code" codificada
X = df["job_code"]
# La variable objetivo será "salary"
y = df["salary"]

In [13]:
# Instanciamos el modelo de Regresión Lineal 
model = LinearRegression()

## Entrenamos/creamos el modelo
model.fit(X, y)

ValueError: Expected 2D array, got 1D array instead:
array=[49 43 43 33 33  7  7 33 33 33 33 19 19  7  7 27 27 33 33 19 19 50 50  3
  3 15 15 45 45 35 35 24 24 18 18 24 24 19 19 29 17 45  7  7 24 24 33 33
 33 33 33 33 33 33 24 24 50 50 33 33 24 24 33 33 24 24 24 24  7  7 24 24
 33 33 18 18 22 22 24 24 33 45  5  0 45 15 15 24 24 24 24 33 33 33 33 45
 45 24 24 19 19 19 19 24 24 24 24  3  3 24 24 50 50 51 45 33 33  3  3  3
  3 45 45  3  3 24 24 24 24 20 20 24 24 45 45 24 24 24 24 33 33 19 19 19
 19 45 45 24 24 33 33  3  3 24 24 14  4 19 19 24 24 19 19  7  7 45 45 24
 24  3  3 24 24  7  7 19 19 24 24 24 24 33 33 53 38 38 19 19 24 24 45 45
 33 33 33 33 50 50 22 22 22 22 23 24 24 24 24 24 24 18 18 45 45 33 33 19
 19 24  4  0 19 19 24 24 24 24 24 24 40 40 29 29 33 33  0 24 24 24 24 33
 33 33 33 33 33 32 32  3  3 33 24 24 19 19 50 50 19 19 24 24 33 33 19 19
 33 33 24 24  3  3  3  3  7  7 24 24  7  7 51 51  7  7 19 19 33 33 24 24
 33 33 33 33 33 33  7  7  3  3 19 19 51 51 33 33 24 24 33 33 19 19 26 26
 19 19 33 33 26 26 33 33 19 19 19  0 47 45 45 33 22 22 24 24 19 19 33 33
 33 33 19 19 24 24 45 45 24 24 33 33  7  7 24 24 29 29 33 33 33 33 45 45
 13 24 24 33 33 19 19 51 51 24 24 34 34 24 24 20 20 45 45 24 24 19 19 24
 24 33 33 33 33 33 33 41 11 33 33 24 24 24 24 19 19  3  3 19 19 50 50 45
 45 33 33 22 22 33 33 33 33 33 33 50 50 19 19 24 24 19 19 45 45 19 19 45
 45 26 26 33 33 33 33  7  7  7  7 19 19  7  7 45 45 19 19 24 24 19 19 24
 24 24 24 24 24 33 33 33 33 22 22 33 33 24 24 24 24 24 19 19 24 24 37 37
 48 48 33 33 51 51 33 33 33 33 24 24 14  0  0 44 44 24 24 24 24 33 33 24
 24 45 45 19 19 19 19 24 24 51 51 50 50 19 19 33 33 22 22 22 22 51 51 45
  2 45 45 24 24 33 33 24 24 24 24 45 45 33 33 19 19  3  3 24 24 33 33 24
 24 33 33 19 19 19 19 33 33 19 19 24 24 33 33 48 48 19 19 19 19  8  6 24
 24 19 19 33 33 33 33 33 33 33 33 24 24 24 24 33 33 24 24 24 24 19 19 24
 24 24 24 42 33 19 19 33 33 19 19 24 24 33 33 24 24 24 24 33 33 24 24 24
 24 33 33 24 24 24 24 24 24 33 33 33 33 24 24 33 33 22 22 24 24 24 24 19
 19 22 22 19 19 19 19 24 24 24 24 16  6 19 19 24 24 19 19 33 33 45 45 50
 50 19 19 22 22 26 26 19 19  3  3 19 19 24 24 32 32 33 33 24 24 24 24 24
 24 33 33 33 33  7  7 19 19 24 24 33 33 24 24 19 19 39 33 33 33 33 51 51
 25 25 19 19  3  3 19 19 43 43 22 22 52 19 19 33  1  0 41 45 45 24 24 33
 33 24 24 51 51 24 24 19 19  3  3 24 24 19 19 28 28 45 45 24 24 33 33 24
 24 45 45 24 24 24 24 12 31 24 24 43 43  3  3 45 45 33 33 45 45 33 33 24
 24 32 32 20 20 24 24 22 22 19 19 19 19 36 24 24  9  9 32 32 30 30 24 24
 24 24 51 51 19 19 33 33 33 33 19 19 19 19 33 33 21 21 51 51  0 24 24 45
 45 24 24 33 33 51 51 45 45 24 24 33 19 19 19 19 52 19 45 45 24 24 19 19
 19 19 33 33 24 24 45 45 24 24 24 24 19 19 24 24 19 19 19 19 51 51 24 24
 33 33 33 33 24 24 19 19 33 33 33 33 48 48 33 33 45 45 26 26 46 46 24 24
 24 24 33 33 19 19 19 19 33 33 24 24 24 24 24 24 24 24 33 33 24 24 24 24
 19 19 33 33  3  3 45 45 19 19 45 45 19 19 24 24 24 24 20 20 51 51 33 33
 24 24 51 51 33 33 33 33 19 51 51 19 14 40 32 19 19 19 19 32 32 19 19 18
 10  0 45 45 19 45 45 24 24 19 19 45 45 33 30 19].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:
# Crear el scatter plot con X y salary
plt.scatter(X, y, color='red')
predic_Salario = model.predict(X.reshape(-1, 1)
plt.plot(X, predic_Salario, color = "blue")
plt.show()