# EJERCICIO - VW

---

#### Importación de Librerías

In [51]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import BaggingRegressor
from sklearn.datasets import make_regression
from sklearn.ensemble import AdaBoostRegressor

In [22]:
vw_df = pd.read_csv("./vw.csv")

In [23]:
vw_df.info() # Observamos que no tiene ningún NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15157 entries, 0 to 15156
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         15157 non-null  object
 1   year          15157 non-null  int64
 2   price         15157 non-null  int64
 3   transmission  15157 non-null  object
 4   mileage       15157 non-null  int64
 5   fuelType      15157 non-null  object
 6   tax           15157 non-null  int64
 7   mpg           15157 non-null  float64
 8   engineSize    15157 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 1.0+ MB

In [24]:
vw_df.shape

(15157, 9)

In [25]:
vw_df = vw_df.dropna() # Ponemos la orden de eliminar NaN (Aunque hallamos comprobado en la celda anterior)

In [26]:
vw_df.shape

(15157, 9)

In [27]:
vw_df.describe()

,year,price,mileage,tax,mpg,engineSize
count,15157.000000,15157.000000,15157.000000,15157.000000,15157.000000,15157.000000
mean,2017.255789,16838.952365,22092.785644,112.744277,53.753355,1.600693
std,2.053059,7755.015206,21148.941635,63.482617,13.642182,0.461695
min,2000.000000,899.000000,1.000000,0.000000,0.300000,0.000000
25%,2016.000000,10990.000000,5962.000000,30.000000,46.300000,1.200000
50%,2017.000000,15497.000000,16393.000000,145.000000,53.300000,1.600000
75%,2019.000000,20998.000000,31824.000000,145.000000,60.100000,2.000000
max,2020.000000,69994.000000,212000.000000,580.000000,188.300000,3.200000

In [28]:
vw_df.head()

    model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   T-Roc  2019  25000    Automatic    13904   Diesel  145  49.6         2.0
1   T-Roc  2019  26883    Automatic     4562   Diesel  145  49.6         2.0
2   T-Roc  2019  20000       Manual     7414   Diesel  145  50.4         2.0
3   T-Roc  2019  33492    Automatic     4825   Petrol  145  32.5         2.0
4   T-Roc  2019  22900    Semi-Auto     6500   Petrol  150  39.8         1.5

In [29]:
vw_df.sample(5)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
9485,Polo,2014,7430,Manual,29963,Petrol,20,60.1,1.0
7664,Polo,2016,8681,Manual,26266,Petrol,20,60.1,1.0
14432,Touran,2018,19439,Manual,11273,Diesel,145,51.4,1.6
9558,Polo,2016,12700,Manual,17914,Petrol,20,61.4,1.4
8324,Polo,2019,16990,Automatic,5000,Petrol,145,45.6,1.0

In [30]:
vw_df = pd.get_dummies(vw_df, columns = ["transmission", "fuelType", "model"])
vw_df.head()

,year,price,mileage,tax,mpg,engineSize,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,...,model_ Scirocco,model_ Sharan,model_ Shuttle,model_ T-Cross,model_ T-Roc,model_ Tiguan,model_ Tiguan Allspace,model_ Touareg,model_ Touran,model_ Up
0,2019,25000,13904,145,49.6,2.0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
1,2019,26883,4562,145,49.6,2.0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,2019,20000,7414,145,50.4,2.0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
3,2019,33492,4825,145,32.5,2.0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,2019,22900,6500,150,39.8,1.5,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0

In [31]:
vw_df.shape

(15157, 40)

In [32]:
X = vw_df.drop(columns="price")
y = vw_df["price"] # Variable objetivo

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 40)

In [38]:
### Vamos a ver el algoritmo KNeighborsClassifier

In [39]:
DTC_clf = DecisionTreeClassifier(max_depth = 2, random_state = 40)
DTC_clf.fit(X_train, y_train)
scoreDTC = DTC_clf.score(X_test, y_test)
print(scoreDTC)

0.012532981530343008

### Vamos a ver el algoritmo DecisionTreeClassifier

In [52]:
DTC_clf = DecisionTreeRegressor(random_state = 40)
DTC_clf.fit(X_train, y_train)
scoreDTC = DTC_clf.score(X_test, y_test)
print(scoreDTC)

0.9251094071812329

### Vamos a ver el algoritmo Support Vector Machine

In [37]:
SVM_clf = SVR()
SVM_clf.fit(X_train, y_train)
scoreSVM = SVM_clf.score(X_test, y_test)
print(scoreSVM)

0.11790966641487521

### Vamos a ver el algoritmo Bagging

In [46]:
BAG_clf = BaggingRegressor(n_estimators = 100, random_state=40)
BAG_clf.fit(X_train, y_train)
scoreBAG = BAG_clf.score(X_test, y_test)
print(scoreSVM)

0.11790966641487521

### Vamos a ver el algoritmo AdaBoost

In [47]:
ADA_clf = AdaBoostRegressor()
ADA_clf.fit(X_train, y_train)
scoreADA = ADA_clf.score(X_test, y_test)
print(scoreADA)

0.7554380639422655